.container {
    max-width: 900px;
    padding: 0 40px;
    margin: 0 auto;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 1 auto;
    background-color: rgba(31, 226, 41, 0.26);
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-label {
    color: rgb(95, 94, 94);
    font-weight: 500;
}

.title {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.info {
    flex: 0 1 45%;
    line-height: 2.5rem;
    padding: 10px 0;
}

li {
    list-style: circle;
    margin-left: 50px;
}

@media screen and (max-width: 400px) {
    .container {
        padding: 10px;
    }
    .page {
        margin: 0;
    }
}